.order {
    padding: 40px;
    margin: 20px 0;
    border: 2.5px solid rgb(32, 173, 178);
    background-color: white;
    position: relative;
}

.order > p {
    margin-top: 10px;
}

.order__id {
    position: absolute;
    top: 40px;
    right: 20px;
}

.order__total {
    font-weight: 500;
    text-align: right;
}

.order > h3 > strong {
    color: red;
}